/* CalibriRegular */
@font-face {
	font-family: 'Calibri';
	src: url('../fonts/Calibri.eot');
	src: url('../fonts/Calibri.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Calibri.woff2') format('woff2'),
		 url('../fonts/Calibri.woff') format('woff'),
		 url('../fonts/Calibri.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	text-rendering: optimizeLegibility;
}

/* CalibriBold */
@font-face {
	font-family: 'Calibri-Bold';
	src: url('../fonts/Calibri-Bold.eot');
	src: url('../fonts/Calibri-Bold.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Calibri-Bold.woff2') format('woff2'),
		 url('../fonts/Calibri-Bold.woff') format('woff'),
		 url('../fonts/Calibri-Bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	text-rendering: optimizeLegibility;
}

/* Regular */
@font-face {
	font-family: 'ProximaNova';
	src: url('../fonts/../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/../fonts/ProximaNova-Regular.woff') format('woff'),
		 url('../fonts/../fonts/ProximaNova-Regular.ttf')  format('truetype'),
		 url('../fonts/../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Thin */
@font-face {
	font-family: 'ProximaNova-Thin';
	src: url('../fonts/ProximaNova-Thin.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/ProximaNova-Thin.woff') format('woff'),
		 url('../fonts/ProximaNova-Thin.ttf')  format('truetype'),
		 url('../fonts/ProximaNova-Thin.svg#ProximaNova-Thin') format('svg');
	font-weight: normal;
	font-style: normal;
	text-rendering: optimizeLegibility;
}

/* Medium */
@font-face {
	font-family: 'ProximaNova-Medium';
		src: url('../fonts/ProximaNova-Medium.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/ProximaNova-Medium.woff') format('woff'),
			 url('../fonts/ProximaNova-Medium.ttf')  format('truetype'),
			 url('../fonts/ProximaNova-Medium.svg#ProximaNova-Medium') format('svg');
	font-weight: normal;
	font-style: normal;
	text-rendering: optimizeLegibility;
}

/* Bold */
@font-face {
	font-family: 'ProximaNova-Bold';
	src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/ProximaNova-Bold.woff') format('woff'),
		 url('../fonts/ProximaNova-Bold.ttf')  format('truetype'),
		 url('../fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
	font-weight: normal;
	font-style: normal;
	text-rendering: optimizeLegibility;
}