@media only screen and (max-width: 991px) {
	.header_inner {height: 61px;}
	.logo a {line-height: 60px;}
	.nav_bar,.logo span {display: none;}
	button.btn_search {margin-top: 0;}
	.search form {border: 1px solid #ccc;top: -5px;right: -16px;}
	.search form input[type="text"] {font-size: 10px; height: 28px;}
	.main_services article {margin-bottom: 20px;}
	.footer_menu.pull-right {float: left!important; margin-top: 40px;}
	.copyright {margin-top: 60px;}
	.mh_contact,.mobile_show {display: block;}
	#slider .caption h2 {font-size: 40px;}
	#slider .caption p {margin-top: 10px; font-size: 16px;}
	#slider .caption a {width: 140px; height: 32px; margin-top: 25px; font-size: 13px; line-height: 35px;}
	.contact_info {padding: 40px 20px;}
	.contact_info:after {display: none;}
	.contact_info h1 {font-size: 24px; line-height: 24px;}
}

@media only screen and (max-width: 767px) {
	#slider img {min-height: 220px; object-fit: cover;}
	#slider .caption h2 {font-size: 20px;}
	#slider .caption p {display: none;}
	#slider .owl-dots {bottom: 10px;}
	.main_services {padding-bottom: 50px;}
	.main_product {padding-bottom: 40px;}
	.main_product article {margin-bottom: 20px;}
	.main_video {height: auto; padding: 30px 0;}
	.main_video .container,.main_video .row,.main_video .row .col-md-5,.main_video .row .col-md-4 {height: auto;}
	.main_video .caption,.main_video figure {position: relative; top: auto; left: auto; right: auto; transform: translateY(0);}
	.main_video .caption {text-align: center; margin-bottom: 30px;}
	#footer {background: #20323f;}
	.footer_menu.pull-right {margin-top: 0;}
	.footer_logo span {display: none;}
	.history_block article {margin-bottom: 10px;}
	.error404 {padding: 40px 0;}
	.error404 img {max-width: 60%;}
	.error404 h3 {font-size: 16px; letter-spacing: 1px;}
	.error404 p {letter-spacing: inherit;}
	#contactmap {height: 300px;}
	.contact_info {margin: 25px 0; min-height: 100px;}
}

@media only screen and (max-width: 480px) {
	.col-mob-12 {width: 100%;}
	.col-mob-6 {width: 50%;}
	.logo a {width: 77px;}
	.breadcrumbs .pull-right {display: none;}
	.side_project article figure {width: 100%; margin-bottom: 20px;}
	.side_project article .body {width: 100%; padding: 0;}
	.result_list article figure {margin-bottom: 20px;}
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.mobile_menu {display: none!important;}
	
}

@media only screen and (min-width:1200px) {
	.mobile_menu {display: none!important;}
}

@media only screen and (min-width:992px) and (max-width: 1600px) {
	#slider img {min-height: 500px; object-fit: cover;}
	#slider .caption h2 {font-size: 40px;}
	#slider .caption p {margin-top: 20px; font-size: 16px;}
}