/*
 * Noca
 * @author Apamark
 * @front-end Rovshen Shirinzade
 */

html {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
html, body {height: 100%;}

body {
	background: #fff;
	font-size: 100%;
	font-family: Arial, Tahoma, Verdana, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a, a:hover , a:active , a:focus {
	outline: 0;
	text-decoration: none;
	color: #20323f;
}

* {
	outline: none;
}

img {
	max-width: 100%;
}

.noscroll {overflow: hidden;}

.mt15 {margin-top: 15px!important;}
.mt40 {margin-top: 40px!important;}
.mt60 {margin-top: 60px!important;}
.mb25 {margin-bottom: 25px!important;}
.pl0 {padding-left: 0!important;}
.pr0 {padding-right: 0!important;}
.pb80 {padding-bottom: 80px!important;}

.vertical-center {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	transform: translateY(-50%);
}

.container {
	position: relative;
}

/* MobileMenu Begin */
.mobile_menu {
	position: absolute;
	top: 61px;
	right: 0;
	left: 0;
	z-index: 100;
	background: #fff;
	display: none;
}

.mobile_menu ul {
	margin: 0;
}

.mobile_menu>ul>li {
	position: relative;
}

.mobile_menu>ul>li>a {
	display: block;
	font: 14px/31px ProximaNova-Bold, sans-serif;
	color: #20323f;
	text-align: center;
	text-transform: uppercase;
	border-bottom: 1px solid #ebebeb;
}

.mobile_menu>ul>li>a i {
	margin-left: 5px;
	font-size: 12px;
	color: #949494;
}

.mobile_menu>ul>li:last-child>a {border: none;}

.mobile_menu>ul>li ul {
	display: none;
}

.mobile_menu>ul>li li a {
	display: block;
	font: 12px/31px ProximaNova-Bold, sans-serif;
	color: #949494;
	text-align: center;
	text-transform: uppercase;
	border-bottom: 1px solid #ebebeb;
}

/* Header Begin */
.main #header {
	position: relative;
	top: 0;
	right: 0;
	left: 0;
	z-index: 20;
}

.header_inner {
	position: relative;
	height: 81px;
	border-bottom: 1px solid #e6e6e6;
}

.logo {
	float: left;
}

.logo a {
	float: left;
	line-height: 80px;
}

.logo span {
	float: left;
	font: 14px/80px Calibri-Light, sans-serif;
	color: #20323f;
	margin-left: 20px;
}

.header_contact {
	float: right;
}

.mh_contact {
	display: none;
}

.header_contact span,
.mh_contact span {
	float: left;
	margin-left: 60px;
	font: 14px/80px ProximaNova, sans-serif;
	color: #20323f;
}

.header_contact span i,
.mh_contact span i {
	margin-right: 10px;
	font-size: 16px;
	color: #fdb92d;
}

.header_contact span strong,
.mh_contact span strong {
	font-size: 16px;
	font-family: ProximaNova-Bold, sans-serif;
}

.mh_contact span {margin: 0; font-size: 12px;line-height: 23px;}
.mh_contact span i,.mh_contact span strong {font-size: 12px;}

.mobile_show {
	float: right;
	display: none;
	padding-top: 21px;
}

.btn_menu {
	float: left;
	display: block;
	padding: 0;
	font-size: 16px;
	color: #20323f;
	border: none;
	background: none;
}

.nav_bar {
	position: relative;
}

.menu {
	position: relative;
}

.menu ul {
	margin: 0;
}

.menu>ul>li {
	position: relative;
	float: left;
	margin-right: 54px;
}

.menu>ul>li:last-child {
	margin-right: 0;
}

.menu>ul>li>a {
	display: block;
	padding: 16px 0;
	font: 14px/14px ProximaNova-Bold, sans-serif;
	color: #20323f;
	transition: color 800ms ease;
}

.menu>ul>li>a:before {
	content: "";
	display: block;
	height: 3px;
	background: #fdb92d;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: -2px;
	width: 0px;
	transition: width 0.3s ease;
}

.menu>ul>li.active>a:before,
.menu>ul>li>a:hover:before {
	width: 100%;
}

.menu>ul>li ul {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 20;
	visibility: hidden;
	opacity: 0;
	min-width: 210px;
	background: #fff;
	border-top: 3px solid #fdb92d;
	box-shadow: 0px 10px 32px 0px rgba(22,103,140,0.4);
}

.menu>ul>li ul li {border-bottom: 1px solid #ebebeb;}
.menu>ul>li ul li:last-child {border-bottom: none;}

.menu>ul>li ul li a {
	display: block;
	padding: 15px;
	font: 14px/14px Calibri, sans-serif;
	color: #333;
}

.menu>ul>li:hover ul {
	visibility: visible;
	opacity: 1;
}

.btn_search,
.m_btn_search {
	float: left;
	margin-top: 11px;
	padding: 0;
	font-size: 16px;
	color: #20323f;
	border: none;
	background: none;
	transition: color 800ms ease, opacity 800ms ease;
}

.m_btn_search {margin-top: 0;}
.search {
 	position: relative;
 	float: left;
 }

.search form {
 	position: absolute;
 	top: 7px;
 	right: -9px;
 	width: 228px;
 	height: 30px;
 	overflow: hidden;
 	background: #ccc;
 	border: none;
 	border-radius: 25px;
 	opacity: 0;
 	visibility: hidden;
 	transition: 500ms ease;
 }

.search form.show {
 	opacity: 1;
 	visibility: visible;
 }
.main .search form {
 	background: #fff;
}
.search form input[type="text"] {
 	display: block;
 	width: 100%;
 	height: 30px;
 	padding: 0 0 0 10px;
 	font: 13px/13px Calibri, sans-serif;
 	color: #999;
 	background: none;
 	border: none;
 }

.search form button[type="submit"] {
 	display: block;
 	font-size: 16px;
 	color: #fdb92d;
 	border: none;
 	background: none;
 	transition: color 800ms ease, opacity 800ms ease;
 	position: absolute;
 	top: 3px;
 	right: 9px;
 	z-index: 5;
 }

button.btn_search {
 	display: block;
 	margin-top: 10px;
 	padding: 0;
 	font-size: 16px;
 	color: #20323f;
 	border: none;
 	background: none;
 	transition: color 800ms ease, opacity 800ms ease;
 }


.lang {
	float: left;
	margin-top: 11px;
	margin-left: 30px;
}

.lang a {
	font: 14px/22px ProximaNova-Bold, sans-serif;
	color: #20323f;
	transition: color 800ms ease, opacity 800ms ease;

}
.lang a:not(:first-child){
	margin-left: 15px;

}

.mobile_show .lang {
	margin: 0 25px;
}

/*.main .header_inner {*/
	/*border-color: rgba(255,255,255,0.24);*/
/*}*/

.main .logo span,
.main .header_contact span,
.main .header_contact span i,
.main .btn_search,
.main .lang a,
/*.main .menu>ul>li>a {*/
	/*color: #fff;*/
/*}*/

.btn_search:hover,
.lang a:hover {
	color: #3b5b73;
}

.main .btn_search:hover,
.main .lang a:hover {
	color: #fff;
	opacity: 0.7;
}
/* Header End */

/* Slider Begin */
#slider {
	position: relative;
}

#slider article {
	position: relative;
}

#slider .caption {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 10;
	padding-top: 127px;
}

#slider .caption h2 {
	margin: 0;
	font: 62px/1 ProximaNova, sans-serif;
	color: #fff;
}

#slider .caption h2 strong {
	font-family: ProximaNova-Bold, sans-serif;
}

#slider .caption p {
	margin: 20px 0 0;
	font: 22px/1.1 Calibri-Light, sans-serif;
	color: #fff;
}

#slider .caption a {
	display: block;
	width: 212px;
	height: 49px;
	margin-top: 55px;
	font: 16px/49px ProximaNova-Bold, sans-serif;
	color: #20323f;
	text-align: center;
	background: #fdb92d;
	border-radius: 25px;
	box-shadow: 0px 0px 10px 0px rgba(255,185,66,1);
	transition: background 800ms ease;
}

#slider .caption a:hover {
	background: #e3a529;
}

#slider .owl-dots {
	position: absolute;
	bottom: 40px;
	left: 50%;
	z-index: 20;
	transform: translateX(-50%);
}

#slider .owl-dot {
	display: inline-block;
	width: 15px;
	height: 15px;
	margin: 0 8px;
	background: #fff;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	transition: 0.3s;
}

#slider .owl-dot:last-child {margin-right: 0;}
#slider .owl-dot.active {background: #fdb92d;}
/* Slider End */

/* TitleBlock Begin */
.title_block {
	position: relative;
	text-align: center;
}

.title_block h1 {
	margin: 0;
	font: 32px/32px ProximaNova-Bold, sans-serif;
	color: #20323f;
}

.title_block h1:after {
	content: "";
	display: block;
	width: 80px;
	height: 2px;
	margin: 21px auto 0;
	background: #fdb92d;
	box-shadow: 0px 0px 10px 0px rgba(255,186,66,0.9);
}
/* TitleBlock End */

/* MainServices Begin */
.main_services {
	position: relative;
	padding: 55px 0 100px;
}

.main_services article a {
	position: relative;
	display: block;
	min-height: 190px;
	padding: 35px 10px 20px;
	text-align: center;
	background: #edf2f7;
	border-radius: 20px;
	transition: 0.4s ease-in;
}

.main_services article a:hover {
	background: #1bacef;
	box-shadow: 0px 6px 32px 0px rgba(0,0,0,0.41);
}

.main_services article a .svg {
	height: 68px;
}

.main_services article a svg mask,
.main_services article a svg path,
.main_services article a svg polygon {
	fill: #507a9a;
}

.main_services article a:hover svg mask,
.main_services article a:hover svg path,
.main_services article a:hover svg polygon {
    fill: #fff;
}

.main_services article a h2 {
	margin: 25px 0 0;
	font: 16px/20px Calibri-Bold, sans-serif;
	color: #507a9a;
	transition: color 500ms ease;
}

.main_services article a:hover h2 {
	color: #fff;
}
/* MainServices End */

/* MainProduct Begin */
.main_product {
	position: relative;
	padding: 65px 0 80px;
	background: #f1f1f1;
}

.main_product article {
	position: relative;
	background: #fff;
	border-radius: 20px;
	transition: 0.3s ease;
}

.main_product article:hover {
	box-shadow: 0px 10px 25px 0px rgba(77,80,84,0.1);
}

.main_product article figure {
	height: 221px;
	line-height: 221px;
	text-align: center;
	overflow: hidden;
	border-bottom: 1px solid #f1f1f1;
}

.main_product article .body {
	padding: 20px 20px 50px;
}

.main_product article .body h2 {
	margin: 0;
	font: 16px/20px ProximaNova-Medium, sans-serif;
	color: #20323f;
}

.main_product article .body a {
	position: absolute;
	left: 20px;
	bottom: 20px;
	font: 14px/14px ProximaNova-Bold, sans-serif;
	color: #babec3;
	transition: color 800ms ease;
}

.main_product article .body a:hover {
	color: #fdb92d;
}
/* MainProduct End */

/* MainProject Begin */
.main_project {
	position: relative;
	padding: 65px 0 40px;
}

.main_project article {
	position: relative;
}

.main_project article figure {
	overflow: hidden;
	border-radius: 22px;
}

.main_project article figure img {
	width: 100%;
	transition: 0.3s;
}

.main_project article:hover figure img {
	transform: scale(1.05, 1.05);
}

.main_project article h2 {
	margin: 20px 0;
	font: 16px/20px ProximaNova-Bold, sans-serif;
	color: #20323f;
}

.main_project article a {
	font: 14px/14px ProximaNova-Bold, sans-serif;
	color: #babec3;
	transition: color 800ms ease;
}

.main_project article a:hover {
	color: #fdb92d;
}
/* MainProject End */

/* MainVideo Begin */
.main_video {
	position: relative;
	height: 315px;
	background: url(../images/bg/main-video-bg.png) no-repeat center;
	background-size: cover;
	background-attachment: fixed;
}

.main_video .container,
.main_video .row,
.main_video .row .col-md-5,
.main_video .row .col-md-4 {
	height: 100%;
}

.main_video .caption {
	position: absolute;
	top: 50%;
	right: 0;
	left: 0;
	transform: translateY(-50%);
}

.main_video .caption h2 {
	margin: 0;
	font: 26px/1.1 ProximaNova-Bold, sans-serif;
	color: #fff;
}

.main_video .caption p {
	margin: 11px 0 0;
	font: 14px/20px Calibri, sans-serif;
	color: #fff;
}

.main_video figure {
	position: absolute;
	top: 50%;
	right: 15px;
	left: 15px;
	transform: translateY(-50%);
	border-radius: 25px;
	box-shadow: 0px 17px 25px 0px rgba(77,80,84,0.6);
}

.main_video figure img {
	width: 100%;
	border-radius: 25px;
}

.main_video figure a {
	display: block;
	width: 129px;
	height: 129px;
	background: url(../images/icon/icon-play.png) no-repeat center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
/* MainVideo End */

/* Partners Begin */
.partners {
	position: relative;
	height: 136px;
	background: #f1f1f1;
}

.partners figure {
	line-height: 136px;
	text-align: center;
}

.partners figure img {
	display: inline!important;
	width: auto!important;
	transition: -webkit-filter .3s linear;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.partners figure img:hover {
	-webkit-filter: grayscale(0);
    filter: grayscale(0);
}
/* Partners End */

/* Footer Begin */
#footer {
	position: relative;
	padding: 60px 0 0;
	background: #20323f url(../images/bg/footer-bg.png) no-repeat top 20px center;
}

.footer_menu h4 {
	margin: 0;
	font: 16px/16px ProximaNova-Bold, sans-serif;
	color: #fff;
	text-transform: uppercase;
}

.footer_menu ul {
	margin: 24px 0 0;
}

.footer_menu ul li {
	margin-bottom: 13px;
	font: 14px/14px Calibri, sans-serif;
	color: #fff;
}

.footer_menu ul li a {
	font: 14px/14px Calibri, sans-serif;
	color: #fff;
	transition: opacity 800ms ease;
}

.footer_menu ul li a:hover {
	opacity: 0.7;
}

.copyright {
	position: relative;
	margin-top: 160px;
	padding: 15px 0;
	border-top: 1px solid #263b4a;
}

.footer_logo a {
	float: left;
}

.footer_logo a img {
	width: 85px;
}

.footer_logo span {
	float: left;
	font: 14px/31px Calibri-Light, sans-serif;
	color: #ffffff;
	margin-left: 15px;
}

.copyright p {
	margin: 0;
	font: 12px/31px Calibri-Light, sans-serif;
	color: #fff;
	text-align: right;
}

.copyright p a {
	color: #1bacef;
}

.copyright p a:hover {
	text-decoration: underline;
}
/* Footer End */

/* BreadCrumbs Begin */
.breadcrumbs {
	padding: 23px 0 22px;
	background: #f9faff;
}

.breadcrumbs h1 {
	float: left;
	margin: 0;
	font: 20px/1.1 ProximaNova-Bold, sans-serif;
	color: #20323f;
}

.breadcrumbs a,
.breadcrumbs span {
	float: left;
	font: 14px/20px Calibri, sans-serif;
	color: #20323f;
	transition: color 800ms ease;
}

.breadcrumbs span.line {
	margin: 0 6px;
}

.breadcrumbs a:hover {
	color: #48708c;
}
/* BreadCrumbs End */

/* News Begin */
.news {
	padding: 44px 0 65px;
}

.news_list article {
	margin-bottom: 30px;
}

.news_list article figure {
	overflow: hidden;
	border-radius: 10px;
	transition: 0.3s ease;
}

.news_list article:hover figure {
	box-shadow: 0px 6px 15px 0px rgba(45,45,45,0.4);
}

.news_list article figure img {
	width: 100%;
}

.news_list article h2 {
	margin: 18px 0 0;
	font: 18px/1.1 ProximaNova-Bold, sans-serif;
	color: #20323f;
}

.news_list article h2 a {
	color: #20323f;
	transition: color 800ms ease;
}

.news_list article h2 a:hover {
	color: #fdb92d;
}

.news_list article p {
	margin: 6px 0 0;
	font: 16px/20px Calibri, sans-serif;
	color: #20323f;
	text-align: justify;
}

.news_detail {
	padding-bottom: 40px;
}

.news_detail figure img {
	border-radius: 10px;
}

.news_detail span.date {
	display: block;
	margin-top: 20px;
	font: 14px/14px Calibri, sans-serif;
	color: #b0b0b0;
}

.news_detail span.date i {
	color: #fdb92d;
}

.news_detail h2.title {
	margin: 12px 0 0;
	font: 24px/1.1 ProximaNova-Bold, sans-serif;
	color: #20323f;
}

.news_detail .text {
	margin-top: 20px;
	font: 14px/20px Calibri, san-serif;
	color: #20323f;
	text-align: justify;
}

.side_news {
	
}

.side_news .block {margin-bottom: 40px;}
.side_news .block:last-child {margin-bottom: 0;}

.side_news .block .head h1 {
	position: relative;
	margin: 0;
	font: 20px/20px ProximaNova-Bold, sans-serif;
	color: #20323f;
}

.side_news .block .head h1:after {
	content: "";
	display: block;
	width: 88px;
	height: 2px;
	margin-top: 10px;
	background: #fdb92d;
}

.other_news {
	margin-top: 23px;
}

.other_news article {
	margin-bottom: 15px;
	padding-bottom: 12px;
	border-bottom: 1px solid #ebebeb;
}

.other_news article:last-child {
	margin-bottom: 0;
}

.other_news article span.date {
	display: block;
	font: 14px/14px Calibri, sans-serif;
	color: #b0b0b0;
}

.other_news article span.date i {
	color: #fdb92d;
}

.other_news article h2 {
	margin: 6px 0 0;
	font: 16px/20px ProximaNova-Bold, sans-serif;
	color: #20323f;
}

.other_news article h2 a {
	color: #20323f;
	transition: color 800ms ease;
}

.other_news article h2 a:hover {
	color: #fdb92d;
}

.other_news article p {
	margin: 2px 0 0;
	font: 14px/20px Calibri, sans-serif;
	color: #20323f;
}

.side_project {
	margin-top: 25px;
}

.side_project article {
	float: left;
	width: 100%;
	margin-bottom: 17px;
	padding-bottom: 17px;
	border-bottom: 1px solid #ebebeb;
}

.side_project article:last-child {
	margin-bottom: 0;
}

.side_project article figure {
	float: left;
	width: 102px;
}

.side_project article figure img {
	border-radius: 7px;
}

.side_project article .body {
	float: left;
	width: calc(100% - 102px);
	padding-left: 8px;
}

.side_project article .body h2 {
	margin: 0;
	font: 16px/20px ProximaNova-Bold, san-serif;
	color: #20323f;
	transition: color 800ms ease;
}

.side_project article .body h2 a {
	color: #20323f;
	transition: color 800ms ease;
}

.side_project article .body h2 a:hover {
	color: #fdb92d;
}

.other_news article p {
	margin: 2px 0 0;
	font: 14px/20px Calibri, sans-serif;
	color: #20323f;
}

.side_project article .body p {
	margin: 4px 0 0;
	font: 14px/20px Calibri, san-serif;
	color: #20323f;
}
/* News End */

/* Pagination Begin */
.pag {
	margin-top: 10px;
}

.pag ul {
	float: left;
	display: block;
	margin: 0;
	border: 1px solid #ddd;
}

.pag ul li {
	float: left;
	border-right: 1px solid #ddd;
}

.pag ul li:last-child {border: none;}

.pag ul li.active,
.pag ul li.dotted,
.pag ul li a {
	display: block;
	min-width: 36px;
	height: 34px;
	padding: 0 4px;
	font: 15px/34px Calibri, san-serif;
	color: #20323f;
	text-align: center;
	background: #fff;
	transition: color 800ms ease;
}

.pag ul li a:hover {
	color: #fdb92d;
}

.pag ul li.active {
	background: #fdb92d;
}

.pag ul li.dotted {
	min-width: auto;
	padding: 0;
}
/* Pagination End */

/* SearchPage Begin */
.search_page {
	padding-bottom: 40px;
}

.search_page span.keyword {
	display: block;
	font: 20px/25px ProximaNova, sans-serif;
	color: #20323f;
}

.search_page span.keyword:after {
	content: "";
	display: block;
	width: 88px;
	height: 2px;
	margin-top: 10px;
	background: #fdb92d;
}

.search_page span.keyword em {
	font-style: normal;
	font-family: ProximaNova-Bold, sans-serif;
	color: #20323f;
}

.result_list article {
	position: relative;
	float: left;
	width: 100%;
	margin-top: 20px;
	padding-bottom: 20px;
}

.result_list article:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 15px;
	right: 15px;
	height: 1px;
	background: #ebebeb;
}

.result_list article figure img {
	width: 100%;
	border-radius: 10px;
}

.result_list article h2 {
	margin: 5px 0 0;
	font: 16px/16px ProximaNova-Bold, san-serif;
	text-align: justify;
}

.result_list article h2 a {
	color: #20323f;
	transition: color 500ms ease;
}

.result_list article h2 a:hover {color: #fdb92d;}


.result_list article p {
	margin: 20px 0 0;
	font: 14px/18px Calibri, san-serif;
	color: #20323f;
	text-align: justify;
}
/* SearchPage End */

/* Page Begin */
.page {
	position: relative;
	padding: 45px 0 60px;
}

.sidemenu {
	margin-bottom: 40px;
}

.sidemenu ul {
	margin: 0;
}

.sidemenu ul li {
	padding: 18px 0 12px;
	border-bottom: 1px solid #e1e1e1;
}

.sidemenu ul li a {
	font: 16px/20px ProximaNova-Bold, san-serif;
	color: #20323f;
	text-transform: uppercase;
	transition: color 800ms ease;
}

.sidemenu ul li.active a,
.sidemenu ul li a:hover {
	color: #fdb92d;
}

.sideform {
	position: relative;
	padding: 25px 17px;
	background: #f5f6fa;
	border-radius: 15px;
}

.sideform h4 {
	margin: 0;
	font: 16px/16px ProximaNova-Bold, san-serif;
	color: #20323f;
	text-align: center;
}

.sideform .ipt_style {
	display: block;
	width: 100%;
	height: 38px;
	margin-top: 13px;
	padding: 0 15px;
	font: 14px/14px Calibri, san-serif;
	color: #20323f;
	background: none;
	border: 1px solid #e1e1e1;
	border-radius: 20px;
}

.sideform .ipt_style::-webkit-input-placeholder {color: #20323f;}
.sideform .ipt_style::-moz-placeholder {color: #20323f;}

.sideform textarea.ipt_style {
	padding: 10px 15px;
	height: 70px;
	resize: none;
}

.sideform button[type="submit"] {
	display: block;
	width: 100%;
	height: 38px;
	margin-top: 10px;
	font: 14px/14px ProximaNova-Bold, san-serif;
	color: #20323f;
	background: #fdb92d;
	border: none;
	border-radius: 20px;
	transition: background 800ms ease;
}

.sideform button[type="submit"]:hover {
	background: #e3a529;
}

.adownload {
	display: block;
	width: 100%;
	height: 42px;
	margin: 35px 0;
	text-align: center;
	border: 2px solid #fdb92d;
	border-radius: 20px;
}

.adownload i {
	display: inline-block;
	width: 14px;
	height: 38px;
	margin-right: 10px;
	background: url(../images/icon/icon-download.png) no-repeat center;
	vertical-align: middle;
}
.adownload span {
	display: inline-block;
	font: 14px/38px ProximaNova-Bold, san-serif;
	color: #20323f;
	vertical-align: middle;
}

.page_detail figure {
	margin-bottom: 30px;
}

.page_detail figure img {
	border-radius: 10px;
}

.page_detail h2.title {
	margin: 0;
	font: 32px/1.1 ProximaNova-Bold, sans-serif;
	color: #20323f;
}

.page_detail .text {
	margin-top: 10px;
	font: 16px/22px Calibri, sans-serif;
	color: #333;
	text-align: justify;
}

.page_detail .text strong,
.page_detail .text b {
	font-family: Calibri-Bold, sans-serif;
}

.page_detail .text blockquote {
	margin: 20px 0;
	padding: 20px;
	font: 14px/20px Calibri, sans-serif;
	color: #333;
	background: #f5f6fa;
	border-color: #fdb92d;
}

.history_block {
	margin-top: 30px;
}

.history_block article {
	position: relative;
	float: left;
	width: 100%;
}

.history_block article figure {
	float: left;
	width: 100px;
	height: 100px;
	padding: 0 5px;
	line-height: 100px;
	text-align: center;
	background: #f5f6fa;
	border-radius: 10px;
}

.history_block article .body {
	position: relative;
	float: left;
	display: table;
	width: calc(100% - 100px);
	min-height: 100px;
	padding: 5px 0 0 30px;
}

.history_block article .body h2 {
	display: table-cell;
	margin: 0;
	font: 16px/20px Calibri-Bold, san-serif;
	color: #333;
	vertical-align: middle;
}

.page_gallery {
	margin-top: 40px;
}

.page_gallery h2 {
	margin: 0 0 20px;
	font: 22px/22px ProximaNova-Bold, sans-serif;
	color: #20323f;
}

.page_gallery figure {
	position: relative;
	margin-bottom: 25px;
	border-radius: 10px;
	box-shadow: 0px 4px 11px 0px rgba(45,45,45,0.11);
}

.page_gallery figure a {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	overflow: hidden;
	border-radius: 10px;
}

.page_gallery figure img {
	width: 100%;
}

.page_gallery figure a:before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 10;
	visibility: hidden;
	opacity: 0;
	background: rgba(253,185,45,0.61);
	transition: 800ms ease;
}

.page_gallery figure i {
	content: "";
	display: block;
	font-size: 32px;
	color: #fff;
	margin-top: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: 10;
	visibility: hidden;
	opacity: 0;
	transition: 800ms ease;
}

.page_gallery figure a:hover:before,
.page_gallery figure a:hover i {
	opacity: 1;
	visibility: visible;
}

.page_gallery figure a:hover i {
	margin-top: 0;
}

.page_faq {
	position: relative;
}

.page_faq .section {
	margin-top: 30px;
}

.page_faq .section h1 {
	margin: 0 0 20px;
	font: 16px/16px ProximaNova-Bold, san-serif;
	color: #20323f;
	text-transform: uppercase;
}

.faq_list {
	border-top: 1px solid #e1e1e1;
}

.faq_list .block {
	border-bottom: 1px solid #e1e1e1;
}

.faq_list .block .head {
	position: relative;
	padding: 17px 0;
	cursor: pointer;
}

.faq_list .block .head:after {
	content: "\f067";
	display: block;
	position: absolute;
	top: 15px;
	right: 13px;
	font-family: FontAwesome;
	font-size: 16px;
	color: #fdb92d;
	transition: 0.3s ease;
}

.faq_list .block .head.active:after {
	content: "\f068";
}

.faq_list .block .head h2 {
	margin: 0;
	padding-right: 35px;
	font: 14px/18px Calibri-Bold, san-serif;
	color: #20323f;
}

.faq_list .block .body {
	position: relative;
	display: none;
	font: 14px/20px Calibri, san-serif;
	color: #20323f;
}

.faq_list .block .body ol,
.faq_list .block .body ul {
	padding: 0;
	padding-left: 20px
}
/* Page End */

/* ProductList Begin */
.product_list {
	padding-bottom: 30px;
}

.product_list article {
	margin-bottom: 20px;
}
.product_list article figure {
	height: 182px;
	line-height: 182px;
	text-align: center;
	background: #fefefe;
	border: 1px solid #e1e1e1;
	border-radius: 10px;
}

.product_list article h2 {
	margin: 10px 0 0;
	font: 18px/23px Calibri, san-serif;
	color: #20323f;
}

.product_list article h2 a:hover {
	color: #fdb92d;
}

.product_list article h2 a {
	color: #20323f;
	transition: color 800ms ease;
}
/* ProductList End */

/* Error404 Begin */
.error404 {
	position: relative;
	padding: 160px 0;
	background: #f9faff;
}

.error404 h3 {
	margin: 45px 0 0;
	font: 20px/1.1 ProximaNova-Bold, san-serif;
	color: #20323f;
	letter-spacing: 3px;
}

.error404 p {
	margin: 25px 0 0;
	font: 12px/17px ProximaNova, san-serif;
	color: #20323f;
	letter-spacing: 2px;
}

.error404 a {
	display: block;
	width: 212px;
	height: 48px;
	margin: 35px auto 0;
	font: 16px/48px ProximaNova-Bold, san-serif;
	color: #20323f;
	text-align: center;
	background: #fdb92d;
	border-radius: 30px;
	box-shadow: 0px 0px 10px 0px rgba(255,185,66,0.9);
	transition: background 800ms ease;
}

.error404 a:hover {
	background: #e3a529;
}
/* Error404 End */

/* Contact Begin */
.contact {
	position: relative;
	padding-bottom: 100px;
	background: #f9faff;
}

#contactmap {
	position: relative;
	height: 426px;
	overflow: hidden;
}

#markerLayer img {
    animation: pulse .5s infinite alternate;
    -webkit-animation: pulse .5s infinite alternate;
    transform-origin: center;
    -webkit-transform-origin: center;
}

/* Animaitons */
@keyframes pulse{
    to { 
        transform: scale(0.7);
        -webkit-transform: scale(0.7);  
    }
}

@-webkit-keyframes pulse{
    to { 
        transform: scale(0.7);
        -webkit-transform: scale(0.7);  
    }
}

@-webkit-keyframes wobble {
  from {
    -webkit-transform: none;
    transform: none;
  }

  15% {
    -webkit-transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
    transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
  }

  30% {
    -webkit-transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
    transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
  }

  45% {
    -webkit-transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
    transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
  }

  60% {
    -webkit-transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
    transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
  }

  75% {
    -webkit-transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
    transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
  }

  to {
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes wobble {
  from {
    -webkit-transform: none;
    transform: none;
  }

  15% {
    -webkit-transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
    transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
  }

  30% {
    -webkit-transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
    transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
  }

  45% {
    -webkit-transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
    transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
  }

  60% {
    -webkit-transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
    transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
  }

  75% {
    -webkit-transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
    transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
  }

  to {
    -webkit-transform: none;
    transform: none;
  }
}

@-webkit-keyframes flicker {
  from, 50%, to {
    opacity: 1;
  }

  25%, 75% {
    opacity: 0;
  }
}

@keyframes flicker {
  from, 50%, to {
    opacity: 1;
  }

  25%, 75% {
    opacity: 0;
  }
}

.contact_form {
	padding: 15px 0 0;
}

.contact_form h1 {
	margin: 0 0 13px;
	font: 32px/32px ProximaNova, san-serif;
	color: #20323f;
	text-align: center;
}

.contact_form h1 strong {
	font-family: ProximaNova-Bold, san-serif;
}

.contact_form .ipt_style {
	display: block;
	width: 100%;
	height: 47px;
	margin-bottom: 15px;
	padding: 0 30px;
	font: 14px/14px Calibri, san-serif;
	color: #507a9a;
	background: #fff;
	border: 2px solid transparent;
	border-radius: 30px;
	transition: border 800ms ease;
}

.contact_form .ipt_style:focus {
	border-color: #0ca9ee;
}


.contact_form  span.error-item .ipt_style:focus {
	border-color: #d70808!important;
}
.contact_form  span.error-item .ipt_style {
	border-color: #d70808!important;
}

.sideform  span.error-item .ipt_style:focus {
	border-color: #d70808!important;
}

.sideform  span.error-item .ipt_style {
	border-color: #d70808!important;
}


.contact_form textarea.ipt_style {
	padding: 15px 30px;
	height: 120px;
	resize: none;
}

.contact_form span.span label {
	display: none!important;
}

.contact_form button[type="submit"] {
	display: inline-block;
	min-width: 120px;
	height: 32px;
	margin-top: 5px;
	font: 14px/14px ProximaNova-Bold, san-serif;
	color: #20323f;
	text-transform: uppercase;
	background: #fdb92d;
	border: none;
	border-radius: 20px;
	box-shadow: 0px 0px 10px 0px rgba(255,185,66,0.9);
	transition: background 800ms ease;
}

.contact_form button[type="submit"]:hover {
	background: #c99224;
}

.contact_info {
	position: relative;
	min-height: 420px;
	margin-top: -66px;
	padding: 60px 30px;
	background: linear-gradient(135deg, #116fe3 0%, #01e8f8 100%);
	border-radius: 15px;
	box-shadow: 0px 6px 32px 0px rgba(0,0,0,0.41);
}

.contact_info:after {
	content: "";
	position: absolute;
	right: 30px;
	bottom: 0;
	display: block;
	width: 246px;
	height: 246px;
	background:  url(../images/bg/contact-bg.png) no-repeat right center;
	background-size: 100%;
}

.contact_info .block {
	margin-bottom: 40px;
}

.contact_info .block:last-child {
	margin: 0;
}

.contact_info h1 {
	margin: 0;
	font: 32px/32px ProximaNova, san-serif;
	color: #fff;
}

.contact_info h1 strong {
	font-family: ProximaNova-Bold, san-serif;
}

.contact_info ul {
	margin: 25px 0 0;
}

.contact_info ul li {
	margin-bottom: 6px;
	font: 16px/20px Calibri, san-serif;
	color: #fff;
}

.contact_info ul li i {
	margin-right: 5px;
}